doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 仿网易云
    link(rel='stylesheet', href='../css/index.css')
    link(rel="stylesheet", href="../font/css/font-awesome.css")
    script(src='./js/data.js')
    script(src='./js/move.js')
  body
    .par-nav
      .top-nav1
        .nav1-center.navcenter
          h1.t-logo
            a(href='javasrript:;')
          ul.lit-nav1
            li
              a#topSelect(href='javasrript:;')
                | 发现音乐
                sup.nav-triangle
            li
              a(href='javasrript:;') 我的音乐
            li
              a(href='javasrript:;') 朋友
            li
              a(href='javasrript:;') 商城
            li
              a(href='javasrript:;') 音乐人
            li
              a.nav-downLoad(href='javasrript:;')
                | 下载客户端
                sup.hot
          .t-login
            a(href='') 登录
          a.muc-creator(href='javasrript:;') 创作者中心
          .muc-search
            input.search(type='text', value='音乐/视频/电台/用户')
      .top-nav2
        ul.nav2-list.navcenter
          li.fa-triangle
            a(href='/top/song')
              em#select 推荐
          li
            a(href='javascript:;')
              em 排行榜
          li
            a(href='javascript:;')
              em.navmuc-list
                | 歌单
                span.white-r-icon
          li
            a(href='javascript:;')
              em 主播电台
          li
            a(href='javascript:;')
              em 歌手
          li
            a(href='javascript:;')
              em 新碟上架
    .par-ban
      .banner-wrap
        .wrap
          .banner
            a.ban-img(href='')
            //-   img(src='./img/xuanri.jpg', alt='')
            //- a.ban-img(href='')
            //-   img(src='./img/109951164623798876.jpg', alt='')
            //- a.ban-img(href='')
            //-   img(src='./img/109951164623800164.jpg', alt='')
            //- a.ban-img(href='')
            //-   img(src='./img/109951164623863381.jpg', alt='')
            //- a.ban-img(href='')
            //-   img(src='./img/109951164625310237.jpg', alt='')
            //- a.ban-img(href='')
            //-   img(src='./img/109951164625323769.jpg', alt='')
            //- a.ban-img(href='')
            //-   img(src='./img/109951164625886476.jpg', alt='')
            //- a(href='')
            //-   img(src='./img/109951164625326299.jpg', alt='')
            .click-circle
            //- <span class=""></span>
        .rev-left
        .rev-right
        .banner-downLoad
          a.btn-down(href='')
          p.downtext PC 安卓 iPhone WP iPad Mac 六大客户端
    .content
      .cont-left
        .recommend-wrap
          .h-title
            .rec-txt
              a(href='') 热门推荐
            .rec-sort
              a(href='') 华语
              span |
              a(href='') 流行
              span |
              a(href='') 摇滚
              span |
              a(href='') 民谣
              span |
              a(href='') 电子
            span.muc-more
              a(href='') 更多
              span.bg-more
          div
            ul.rec-mucWrap
              li
                .rec-muc
                  img(src='./img/109951164624732895.jpg', alt='')
                  a.cover(href='')
                  .rec-icon
                    span.set-icon
                    span.icon-txt 71万
                    a.p-icon(href='')
                  p.rec-mucTxt
                    a(href='')
                      | <歌荒清除>接下来将拨动你的心弦
              li
                .rec-muc
                  img(src='./img/109951164624732895.jpg', alt='')
                  a.cover(href='')
                  .rec-icon
                    span.set-icon
                    span.icon-txt 71万
                    a.p-icon(href='')
                  p.rec-mucTxt
                    a(href='')
                      | <歌荒清除>接下来将拨动你的心弦
              li
                .rec-muc
                  img(src='./img/109951164624732895.jpg', alt='')
                  a.cover(href='')
                  .rec-icon
                    span.set-icon
                    span.icon-txt 71万
                    a.p-icon(href='')
                  p.rec-mucTxt
                    a(href='')
                      | <歌荒清除>接下来将拨动你的心弦
              li
                .rec-muc
                  img(src='./img/109951164624732895.jpg', alt='')
                  a.cover(href='')
                  .rec-icon
                    span.set-icon
                    span.icon-txt 71万
                    a.p-icon(href='')
                  p.rec-mucTxt
                    a(href='')
                      | <歌荒清除>接下来将拨动你的心弦
              li
                .rec-muc
                  img(src='./img/109951164624732895.jpg', alt='')
                  a.cover(href='')
                  .rec-icon
                    span.set-icon
                    span.icon-txt 71万
                    a.p-icon(href='')
                  p.rec-mucTxt
                    a(href='')
                      | <歌荒清除>接下来将拨动你的心弦
              li
                .rec-muc
                  img(src='./img/109951164624732895.jpg', alt='')
                  a.cover(href='')
                  .rec-icon
                    span.set-icon
                    span.icon-txt 71万
                    a.p-icon(href='')
                  p.rec-mucTxt
                    a(href='')
                      | <歌荒清除>接下来将拨动你的心弦
              li
                .rec-muc
                  img(src='./img/109951164624732895.jpg', alt='')
                  a.cover(href='')
                  .rec-icon
                    span.set-icon
                    span.icon-txt 71万
                    a.p-icon(href='')
                  p.rec-mucTxt
                    a(href='')
                      | <歌荒清除>接下来将拨动你的心弦
              li
                .rec-muc
                  img(src='./img/109951164624732895.jpg', alt='')
                  a.cover(href='')
                  .rec-icon
                    span.set-icon
                    span.icon-txt 71万
                    a.p-icon(href='')
                  p.rec-mucTxt
                    a(href='')
                      | <歌荒清除>接下来将拨动你的心弦
        .newdic-wrap
          .h-title
            .rec-txt
              a(href='') 新碟上架
            span.muc-more
              a(href='') 更多
              span.bg-more
          .dic-muc
            .newDic-prev
            .newDic
              ul.newDic-Name
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
              ul.newDic-Name
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
              ul.newDic-Name
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
                li.newDicList
                  .newDic-muc
                    img(src='./img/109951164615805411.jpg', alt='')
                    a.newDic-cover(href='')
                    a.newDic-play(href='')
                  p.dictxt
                    a.newDic-name(href='') Rare
                  p.dictxt
                    a.newDic-txt(href='') Selena Gomez
            .newDic-next
        .notice-wrap
          .h-title
            .rec-txt
              a(href='') 榜单
            span.muc-more
              a(href='') 更多
              span.bg-more
          .notic-muc
            .notice-top-wrap
              .notice-top
                .notice-log
                  img(src='../img/notice_top.jpg', alt='')
                  a.notice-cover(href='')
                .notice-tit
                  a(href='')
                    h3 云音乐飙升榜
                  .notice-tit-cover
                    a.notice-play(href='')
                    a.notice-add(href='')
              ul.notice-mucList
                li.notice-list
                  span.rednum 1
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.rednum 2
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.rednum 3
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 4
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 5
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 6
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 7
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 8
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 9
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 10
                  a(href='num-music') Nice Things
                  .num-show
              .notice.more
                a(href='') 查看更多>
            .notice-top-wrap
              .notice-top
                .notice-log
                  img(src='../img/notice_top.jpg', alt='')
                  a.notice-cover(href='')
                .notice-tit
                  a(href='')
                    h3 云音乐飙升榜
                  .notice-tit-cover
                    a.notice-play(href='')
                    a.notice-add(href='')
              ul.notice-mucList
                li.notice-list
                  span.rednum 1
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.rednum 2
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.rednum 3
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 4
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 5
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 6
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 7
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 8
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 9
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 10
                  a(href='num-music') Nice Things
                  .num-show
              .notice.more
                a(href='') 查看更多>
            .notice-top-wrap.notice-last
              .notice-top
                .notice-log
                  img(src='../img/notice_top.jpg', alt='')
                  a.notice-cover(href='')
                .notice-tit
                  a(href='')
                    h3 云音乐飙升榜
                  .notice-tit-cover
                    a.notice-play(href='')
                    a.notice-add(href='')
              ul.notice-mucList
                li.notice-list
                  span.rednum 1
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.rednum 2
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.rednum 3
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 4
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 5
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 6
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 7
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 8
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 9
                  a(href='num-music') Nice Things
                  .num-show
                li.notice-list
                  span.innum 10
                  a(href='num-music') Nice Things
                  .num-show
              .notice.more
                a(href='') 查看更多>
      .cont-right
        .sonr
          .sonrtop
            p 登录网易云音乐，可以享受无限收藏的乐趣，并且无限同步到手机
            a(href='zc.html', target='_blank') 用户登录
          .ruzhu
            | 入住歌手
            a(href='') 查看全部>
          .geshou
            ul
              li
                a(href='')
                  img(src='../img/22.jpg')
                  p 张惠妹aMEI
                  p 台湾歌手张惠妹
              li
                a(href='')
                  img(src='../img/23.jpg')
                  p Fin乐团
                  p 独立音乐人
              li
                a(href='')
                  img(src='../img/24.jpg')
                  p 禹晓利
                  p 民谣歌手、中国现代歌手
              li
                a(href='')
                  img(src='../img/25.jpg')
                  p 音乐人赵雷
                  p 民谣歌手
              li
                a(href='')
                  img(src='../img/26.jpg')
                  p 王三溥
                  p 音乐人
          a(href='') 申请成为网易音乐人
          .zhubo
            | 热门主播
          .zbo
            ul
              li
                img(src='../img/27.jpg')
                a(href='')
                  | 陈立
                  span.fa.fa-vimeo.span1
                p 心理学家、美食家陈立教授
              li
                img(src='../img/28.jpg')
                a(href='')
                  | DJ艳秋
                  span.fa.fa-vimeo.span2
                p 著名音乐节目主持人
              li
                img(src='../img/29.jpg')
                a(href='')
                  | 国家大剧院古典音乐频道
                  span.fa.fa-vimeo.span3
                p 国家大剧院古典音乐官方频道
              li
                img(src='../img/30.jpg')
                a(href='')
                  | 谢谢收听
                  span.fa.fa-vimeo.span4
                p 南京电台主持人王罄
              li
                img(src='../img/31.jpg')
                a(href='')
                  | DJ小苏
                  span.fa.fa-vimeo.span5
                p 独立DJ、CRI环球旅游广播电视台
    .footer
      .footson
        .fleft
          ul
            li
              a(href='') 关于网易
              span |
            li
              a(href='') 客户服务
              span |
            li
              a(href='') 服务条款
              span |
            li
              a(href='') 网站导航
              span |
            li
              a(href='') 意见反馈
              span |
          p 网易公司版权所有©1997-2017杭州乐读科技有限公司运营：浙网文[2015] 0415-135号
        .fright
          a.fra1(href='')
          a.fra2(href='')
          a.fra3(href='')
          a.fra4(href='')
    script.
